* {
    margin: auto;
    padding: 0;
}

/* Шрифты текта */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Roboto"),
         /* Если не получилось, загрузит woff2 */
         url("/fonts/roboto.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("/fonts/roboto.woff") format("woff");
  }

body {
    font-family: "Roboto", "Arial", sans-serif;
}

/* Вверх сайта с лого */
.logo {
    display: flex;
    justify-content: space-between;
    background-color: #e1edeb;
}
.logo>img {
    height: 100px;
}

.phone>img {
    width: 30px;
}

.phone {
    display: flex;
    color: #00a86b;
}

/* Меню */
.menu {
background-color: #1c1c1c;
display: flex;
}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 14px 16px;
    font-size: 18px;
}

.menu a:hover {
    background-color: #00a86b;
    color: #1c1c1c;
  }
  
  .menu a.active {
    background-color: #00a86b;
    color: #fff;
  }


 /* КОНТАКТЫ */
.contacts-info>h2 {
        background-color: #00a86b;
        color: #fff;
        padding: 20px 0px;
        display: flex;
        justify-content: center;
    
}

/* Текст */
.info-text {
    display: inline-block;
    padding: 3%;
}

.info {
text-align: center;
    padding: 40px;
}

.info {
    background-color: #fff;
}

/* Инфо компании */
.logo_2 {
    background-color: #00a86b;
    color: #e1edeb;
    padding: 40px;
    display: flex;
    text-align: center;
}

.end {
    padding: 2%;
}
